# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.venv/
env/
venv/
ENV/

# Node & Frontend build
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
